<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true" xmlns="proxy.xsd">
  <serverUrls>
    
    <serverUrl url="https://portal.com"
    hostRedirect="https://webgis.momra.gov.sa"
                  username="gisapps" password="Gisapps@123"
    matchAll="true"/>
    <serverUrl url="http://app1.com"
    hostRedirect="http://gisapp1.momra.gov.sa:6080"
    matchAll="true"/>
    <serverUrl url="https://app1.com"
hostRedirect="https://gisapp1.momra.gov.sa:6080"
matchAll="true"/>
    <serverUrl url="http://app3.com"
  hostRedirect="https://gisapp3.momra.gov.sa:6080"
  matchAll="true"/>
    <serverUrl url="https://gis227.com"
    hostRedirect="https://gisstg227.momra.gov.sa"
    matchAll="true"/>

    <serverUrl url="http://Dev230.com"
      hostRedirect="https://gisstg227.momra.gov.sa"
      username="gisapps" password="Gisapps@123"
      matchAll="true" /> 
    
    <serverUrl url="https://gis65.momra.gov.sa"
      hostRedirect="https://gisstg65.momra.gov.sa/"
      matchAll="true" />
    
    <serverUrl url="http://bkhet.com"
         hostRedirect="https://stgisudp.momra.gov.sa"
         username="UMAPSVTPK" password="Wandoor@Ta6n1"
         matchAll="true" />

    <serverUrl url="https://services.arcgisonline.com" hostRedirect="http://services.arcgisonline.com" matchAll="true"/>





  </serverUrls>
  
  
  
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
